SUPABASE_PROJECT_ID="fbtcqmntbvetyzbokkxx"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZidGNxbW50YnZldHl6Ym9ra3h4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQzODk1MTAsImV4cCI6MjA5OTk2NTUxMH0.gRneSc2wiKEQJ0E7tIfuC9B4O0p0wfHxBN2bbUVluaA"
NEXT_PUBLIC_SUPABASE_URL="https://fbtcqmntbvetyzbokkxx.supabase.co"
SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZidGNxbW50YnZldHl6Ym9ra3h4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQzODk1MTAsImV4cCI6MjA5OTk2NTUxMH0.gRneSc2wiKEQJ0E7tIfuC9B4O0p0wfHxBN2bbUVluaA"
SUPABASE_URL="https://fbtcqmntbvetyzbokkxx.supabase.co"
VITE_SUPABASE_PROJECT_ID="fbtcqmntbvetyzbokkxx"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZidGNxbW50YnZldHl6Ym9ra3h4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQzODk1MTAsImV4cCI6MjA5OTk2NTUxMH0.gRneSc2wiKEQJ0E7tIfuC9B4O0p0wfHxBN2bbUVluaA"
VITE_SUPABASE_URL="https://fbtcqmntbvetyzbokkxx.supabase.co"
